<div class="detailed-movie-info" *ngIf="!error">
  <i class="fa fa-chevron-circle-left" aria-hidden="true" (click)="goBack()"></i>
  <div class="row row1" [style.background-image]="'url(' + movie?.backdrop_path + ')'">
    <span class="bgk"></span>
    <div class="col col-left">
      <div class="title-rating">
        <div class="title">{{movie?.title}} <span>({{movie?.release_date | year}})</span></div>
        <div class="rating">
          <span>
            {{movie?.vote_average}}
            <i class="fa fa-star" aria-hidden="true"></i>
          </span>
        </div>
      </div>
      <div class="genres">
        <span class="genre" *ngFor="let genre of movie?.genres">
          {{genre.name}}
        </span>
      </div>
      <div class="overview">{{movie?.overview}}</div>
      <div class="liked-buttons" *ngIf="authService.loggedIn()">
        <i class="fa fa-heart-o" aria-hidden="true" 
          *ngIf="!movie?.isFavorite"
          (click)="toggleFavorite()"></i>
        <i class="fa fa-heart" aria-hidden="true" 
          *ngIf="movie?.isFavorite"
          (click)="toggleFavorite()"></i>
      </div>
    </div>
    <div class="col col-right">
      <div class="poster">
        <img [src]="movie?.poster_path | safeUrl" alt="poster path" />
      </div>
    </div>
  </div>
  <div class="row row2">
    <h2>Similar Movies</h2>
    <movie-list [movies]="movie?.similar"></movie-list>
  </div>
</div>

<error *ngIf="error"></error>

