<div class="movie-search">
  <form>
    <div class="search-input" [class.active]="query.touched || query.dirty"
      [class.active-not-valid]="query.invalid && query.dirty">
      <input type="text"
        [(ngModel)]="search.title" #query="ngModel"
        name="title" placeholder="Search for a title..." required />
      <button type="button" (click)="searchFor(search.title)" 
        [disabled]="!query.valid || query.prestine">
        <i class="fa fa-search input-item" aria-hidden="true"></i>
      </button>
    </div>
    <div class="error-missing-query" [hidden]="query.valid || query.pristine">
      Missing search query!
    </div>
  </form>
</div>

<div *ngIf="movies && !error">
  <search-results [movies]="movies" [query]="search.title"></search-results>
</div>

<div class="error" *ngIf="error && !movies">
  <div class="message">
    Something went wrong! <br> Please try again shortly.
  </div>
  <div class="broken">
    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
  </div>
</div>
