<form novalidate (ngSubmit)="onSubmit()" [formGroup]="user">
  <div class="group">
    <input type="text" formControlName="email">
    <span class="highlight"></span>
    <span class="bar" 
      [ngClass]="{'has-error': user.get('email').hasError('minlength')}"></span>
    <label>Email</label>
  </div>
  <div class="group">
    <input type="password" formControlName="password">
    <span class="highlight"></span>
    <span class="bar" 
      [ngClass]="{'has-error': user.get('password').hasError('minlength')}"></span>
    <label>Password</label>
  </div>
  <button type="submit" [disabled]="user.invalid" class="button">
    Sing In
  </button>
  <div class="register">Register</div>
</form>
