<form novalidate (ngSubmit)="onSubmit()" [formGroup]="user"
  [ngClass]="{'shake-on-error': error}">
  <span class="login-error" [ngClass]="{'show': error}">{{ error }}</span>
  <div class="group">
    <input type="text" formControlName="firstName">
    <span class="highlight"></span>
    <span class="bar"
      [ngClass]="{'has-error': user.get('firstName').invalid && user.get('firstName').dirty}">
      <span class="error-message"
        *ngIf="user.get('firstName').invalid && user.get('firstName').dirty">
        First name is required
      </span>
    </span>
    <label>First Name</label>
  </div>
  <div class="group">
    <input type="text" formControlName="lastName">
    <span class="highlight"></span>
    <span class="bar"
      [ngClass]="{'has-error': user.get('lastName').invalid && user.get('lastName').dirty}">
      <span class="error-message"
        *ngIf="user.get('lastName').invalid && user.get('lastName').dirty">
        Last name is required
      </span>
    </span>
    <label>Last Name</label>
  </div>
  <div class="group">
    <input type="text" formControlName="email">
    <span class="highlight"></span>
    <span class="bar"
      [ngClass]="{'has-error': user.get('email').invalid && user.get('email').dirty}">
      <span class="error-message"
        *ngIf="user.get('email').invalid && user.get('email').dirty">
        Email is required
      </span>
    </span>
    <label>Email</label>
  </div>
  <div class="group">
    <input type="password" formControlName="password">
    <span class="highlight"></span>
    <span class="bar"
      [ngClass]="{'has-error': user.get('password').invalid && user.get('password').dirty}">
      <span class="error-message"
        *ngIf="user.get('password').invalid && user.get('password').dirty">
        Mininum 10 characters long
      </span>
    </span>
    <label>Password</label>
  </div>
  <div class="group">
    <input type="password" formControlName="passwordRepeated">
    <span class="highlight"></span>
    <span class="bar"
      [ngClass]="{'has-error': user.get('passwordRepeated').invalid && user.get('passwordRepeated').dirty}">
      <span class="error-message"
        *ngIf="!passwordsMatching() && user.get('passwordRepeated').dirty">
        Passwords not matching
      </span>
    </span>
    <label>Repeat Password</label>
  </div>
  <button type="submit" [disabled]="user.invalid" class="button">
    Create Account
  </button>
</form>