<div class="row row1">
  <div class="movie-overview">

    <div class="col col1">

      <div class="title-rating-wrapper">
        <div class="title trw-item">
          {{movie?.title}}
        </div>
        <div class="rating trw-item">
          <span>{{movie?.vote_average}}</span>
        </div>
      </div>
      <div class="vote-count-release-date-wrapper">
        <div class="release-date vcrdw">
          Release Date: <span>{{movie?.release_date}}</span>
        </div>
        <div class="vote-count vcrdw">
          Vote Count: <span>{{movie?.vote_count}}</span>
        </div>
      </div>
      <div class="genres" *ngIf="movie?.genres">
        <span class="genre-name" *ngFor="let genre of movie.genres">
          {{genre.name | movieTitleShort: 10}}
        </span>
      </div>
      <div class="overview">
        <h2>Overview</h2>
        <div class="overview-text">{{movie?.overview}}</div>
      </div>
    </div>

    <div class="col col2">
      <div class="poster-holder" *ngIf="movie?.poster_path">
        <img src="{{movie.poster_path}}" 
          alt="image poster" />
      </div>
      <div class="poster-holder not-available" *ngIf="!movie?.poster_path">
        <div class="poster-not-available">
          <i class="fa fa-film" aria-hidden="true"></i>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="row row2" *ngIf="movie?.similar">
  <h2>Similar Movies</h2>
  <div class="similar-movies">
    <div class="movie-template" *ngFor="let smovie of movie.similar">
      <div class="movie-poster">
        <img src="https://image.tmdb.org/t/p/w500{{smovie.poster_path}}" alt="movie poster" />
        <div class="rating">{{smovie.vote_average}}</div>
      </div>
      <div class="movie-title">
        {{smovie.title | movieTitleShort: 15 }}
      </div>
    </div>
  </div>

</div>
