<div class="trending">
  <div class="title">
    <i class="fa fa-film" aria-hidden="true"></i>
    Currently Trending...
  </div>

  <div class="movies" *ngIf="showMovies">
    <div class="scroll-left scroll" (click)="prevPage()">
      <a><i class="fa fa-angle-left" aria-hidden="true"></i></a>
    </div>
    <div class="scroll-right scroll" (click)="nextPage()">
      <a><i class="fa fa-angle-right" aria-hidden="true"></i></a>
    </div>

    <div class="trending-movies">
      <div class="movie-wrapper" *ngFor="let movie of showMovies">
        <div class="movie-details">
          <div class="movie-poster">
            <img src="https://image.tmdb.org/t/p/w500{{movie.poster_path}}" alt="movie poster">
          </div>
          <div class="movie-title">
            <div class="movie-title-wrapper">{{movie.title | movieTitle}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="error" *ngIf="!showMovies">
    <h2 class="error-item">
      Oops! Something went terribly wrong. <br />Please refresh the page
      or try again later.
    </h2>
    <div class="sad-face error-item"><i class="fa fa-frown-o" aria-hidden="true"></i></div>
  </div>
  
</div>