<div class="select-category">
  <div class="select-wrapper">
    <select name="category" [(ngModel)]="selected.category">
      <option *ngFor="let category of categories" [ngValue]="category">
        {{category.name}}
      </option>
    </select>
  </div>
</div>

<now-playing *ngIf="selected.category.value === 1"></now-playing>
<!--<popular *ngIf="selected.category.value === 2"></popular>
<top-rated *ngIf="selected.category.value === 3"></top-rated>
<upcoming *ngIf="selected.category.value === 4"></upcoming>-->

<div *ngIf="selected.category.value === 2">
  <h1>Popular</h1>
</div>

<div *ngIf="selected.category.value === 3">
  <h1>Top Rated</h1>
</div>

<div *ngIf="selected.category.value === 4">
  <h1>Upcoming</h1>
</div>