<div class="show-movies" *ngIf="movies">

  <div class="pagination">
    <button type="button" class="btn" (click)="previousPage()"
      [disabled]="!hasPrevious()">
    <i class="fa fa-angle-left" aria-hidden="true"></i> Previous Page
    </button>
    <button type="button" class="btn" (click)="nextPage()"
      [disabled]="!hasNext()">
      Next Page <i class="fa fa-angle-right" aria-hidden="true"></i>
    </button>
  </div>

  <div class="movies">
    <div class="movie-overview" *ngFor="let movie of movies">
      <div class="movie-poster">
        <img *ngIf="movie.poster_path" src="{{movie.poster_path}}" alt="movie poster">
        <div class="no-poster" *ngIf="!movie.poster_path">
          <i class="fa fa-file-video-o" aria-hidden="true"></i>
        </div>
      </div>
      <div class="movie-title">
        <div class="title">{{movie.title | movieTitleShort: 30}}</div>
      </div>
    </div>
  </div>

</div>

<!--TODO: Add Message When Something Went Wrong!-->




