<div class="movie-search">
  <form>
    <div class="search-input" [class.active]="query.touched || query.dirty"
      [class.active-not-valid]="query.invalid && query.dirty">
      <input type="text"
        [(ngModel)]="search.title" #query="ngModel"
        name="title" placeholder="Search for a title..." required />
      <button type="button" (click)="searchFor(search.title)" 
        [disabled]="!query.valid || query.prestine">
        <i class="fa fa-search input-item" aria-hidden="true"></i>
      </button>
    </div>
    <div class="error" [hidden]="query.valid || query.pristine">
      Missing movie title!
    </div>
  </form>
</div>

<div *ngIf="!movies && !error" class="search-instructions">
  Search for a movie by typing <br /> the title in the search box
</div>

<div *ngIf="movies" class="search-results">
  <div class="search-query">
    Showing results for <span>{{this.search.title}}</span>...
  </div>
  <movies-search-result [movies]="movies"></movies-search-result>
</div>

<div class="search-results-fail" *ngIf="error">
  <h2>Looks like something went wrong. <br />Please try again.</h2>
  <div class="error">
    <i class="fa fa-meh-o" aria-hidden="true"></i>
  </div>
</div>


