<div class="row row2" [style.background-image]="'url(' + movie?.backdrop_path + ')'">
  <div class="bgk-styling"></div>
  <button type="button" class="btn-back" (click)="goBack()">
    <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
  </button>
  <div class="col col1">
    <div class="title">{{movie?.title}}</div>
    <div class="status-rating">
      <div class="sr-item status">
        {{movie?.status}}
      </div>
      <div class="sr-item rating">
        <span>
          {{movie?.vote_average}}
          <i class="fa fa-star" aria-hidden="true"></i> 
        </span>
      </div>
    </div>
    <div class="overview">
      <div class="heading">Overview</div>
      {{movie?.overview}}
    </div>
    <div class="favorite" *ngIf="auth.loggedIn()">
      <span (click)="toggleFavorite(movie.id)">
        <i class="fa fa-heart" *ngIf="movie?.favorite"></i>
        <i class="fa fa-heart-o" *ngIf="!movie?.favorite"></i>
      </span>
    </div>  
  </div>
  <div class="col col2">
    <div class="poster" *ngIf="movie?.poster_path">
      <img [src]="movie?.poster_path | safeUrl" alt="movie poster">
    </div>
    <div class="no-poster" *ngIf="!movie?.poster_path">
      <span>
        <i class="fa fa-film" aria-hidden="true"></i>
      </span>
    </div>
  </div>
</div>

<div class="row row3" *ngIf="movie?.similar">
  <div class="heading">Similar Movies</div>
  <div class="similar">
    <div class="movie" *ngFor="let similar of movie?.similar" [routerLink]="['/movie', similar?.id]">
      <div class="poster" *ngIf="similar?.poster_path">
        <img [src]="similar?.poster_path | safeUrl" alt="poster path">
      </div>
      <div class="no-poster" *ngIf="!similar?.poster_path">

      </div>
      <div class="title">
        <span>{{similar?.title | movieTitleShort: 25}}</span>
      </div>
    </div>
  </div>
</div>
