$primary-color: #FBFFFD
$secondary-color: #7D7F7F
$dark-green-color: #577F6D
$off-white-color: #FFFBFB
$orange-color: #FE5E4A

h1
  padding-bottom: 5px
  margin: 20px 25px 20px 25px
  text-transform: uppercase
  letter-spacing: 1.5px
  font-size: 1.5em
  color: $dark-green-color
  border-bottom: 1px solid $orange-color